.draggable-content {
    background-color: #e3f2fd;
    margin: 0px 0px 8px;
    padding: 5px;
    border: 1px solid rgba(133, 145, 161, 0.46);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transition: opacity 0.1s ease;
    cursor: grab;
}
